<main role="main" class="container">
    <div class="monster-class" *ngFor="let monsterData of monsterClassList">
        <div class="monster-name">{{monsterData.displayName}}</div>
        <party-monster-cell [monster]="monster" *ngFor="let monster of monstersByClass.get(monsterData)"></party-monster-cell>
    </div>
    <div class="create-monsters">
        <p><strong>Add new monsters</strong></p>
        <form #createForm="ngForm" (ngSubmit)="createMonsters()" autocomplete="off">
            <input [(ngModel)]="createMonsterData.monsterName" (typeaheadOnSelect)="onCreateMonsterSelected($event)"
                [typeahead]="allMonsterData" [typeaheadAsync]="true" typeaheadOptionField="displayName"
                placeholder="Select a monster" name="monsterId" class="form-control" required>
            <input [(ngModel)]="createMonsterData.numMonsters" type="number" name="numMonsters"
                placeholder="How many monsters" class="form-control" required>
            <input [(ngModel)]="createMonsterData.level" type="number" name="level" placeholder="Level"
                class="form-control" required>
            <div class="form-check">
                <input type="checkbox" [(ngModel)]="createMonsterData.elite" name="elite" class="form-check-input"
                    id="createMonsterElite">
                <label class="form-check-label" for="createMonsterElite">Elite</label>
            </div>

            <button type="submit" [disabled]="!createForm.form.valid">Create Monsters</button>
        </form>
    </div>
    <div class="game-controls">
        <a href="#" (click)="deleteAllMonsters()">Delete all monsters</a>
    </div>
    <div class="cast-wrapper">
        <google-cast-launcher></google-cast-launcher>
    </div>
</main>