.monster-name {
    font-weight: bold;
}

.create-monsters {
    margin-top: 50px;
}

.game-controls {
    margin-top: 200px;
}

.monster-cell {
    font-size: 18pt;
    padding: 20px 0;
}

.cast-wrapper {
    width: 24px;
}

google-cast-launcher {
    display: inline;
}