<main role="main" class="container">
    <div class="display-wrapper">
        <div class="name-content">
            Amen Motherf*ckers
        </div>
        <div class="display-content">
            <div class="row">
                <div class="col" *ngFor="let monsterData of monsterClassList">
                    <monster-name [monsterData]="monsterData"></monster-name>
                    <monster-cell *ngFor="let monster of monstersByClass.get(monsterData)" [monster]="monster">
                    </monster-cell>
                </div>
            </div>
        </div>
    </div>
</main>