.monster-cell-wrapper {
    padding: 8px 0;
}

.monster-name {
    font-weight: bold;
    font-size: 20pt;
}

.monster-health {
    
    progressbar {
        font-size: 15pt;
        height: 30px;
    }
}